* {
    box-sizing: border-box;
    min-width: 400px;
    margin: 40px;
    padding: 30px;
}

header {
    width: 100%;
    margin: 40px;
    padding: 30px;
    border: 3px solid white;
    background-color: darkblue;
}

section {
    border: 3px solid black;
}