body {
    background-color: white;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color:white;
}

nav ul {
    float: right;
    padding-inline-start: 0;
}

nav li{
    display: inline-block;
    padding: 10px;
    width: 100px;
    height: 20px;
}

.banner {
    position:relative;
    top: 72px;
    margin:0;
    /*padding-top: 150px;*/
    height: 500px;
    background-color: dodgerblue;
    color: white;
}

.banner .highlight{
    float: right;
    position: relative;
    top: 0px;
    margin-right: 100px;
    padding: 50px;
    border: 3px solid white;
    /*border-bottom: 3px solid white;*/
    text-align: center;
   
}

.whoami {
    position: relative;
    top: 72px;
    text-align: center;   
}

.expertise {
    position: relative;
    top: 144px;
    margin-top: 45px;
    text-align: center;
    height: 300px;
}

.card {
    display: inline-block;
    margin: 15px;
    padding: 20px;
    width: 25%;
    height: 150px;
}

.contact {
    position: relative;
    margin-top: 45px;
    background-color: dodgerblue;
}
